
# Visual Studio Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/

# Project specific files
/Project files/Older versions
/Project files/Current version
/Project files/*.zip
/.idea
/.vs
*.log